/* MAIN SECTION  */
#mainHome {
  height: 85vh; }

#mainImg {
  max-width: 100%;
  height: auto; }

#topbarHome {
  height: 14vh; }

#rightLogo {
  height: 80vh; }
  #rightLogo #rightLogo img {
    width: 200px;
    height: auto; }

#socialHome {
  height: 5vh; }

/* LOGO TOP  */
#logoTop img {
  width: 100%;
  height: auto; }

#brandBorder {
  border-bottom: 4px solid #62c7b2; }

/* ICON HOVER COLOR */
svg #shopIconHoverColor {
  fill: #62c7b2; }

svg:hover #shopIconHoverColor {
  fill: #000; }

svg #searchIconHoverColor {
  fill: #333; }

svg:hover #searchIconHoverColor {
  fill: #BDBDBD; }

svg #socialIconHoverColor {
  fill: #BDBDBD; }

svg:hover #socialIconHoverColor {
  fill: #62c7b2; }

/* TOP LOGO HOVER GREYSCALE */
/* FORM SECTION  */
#formSection {
  min-height: 60%;
  height: auto; }

/* FOOTER SECTION  */
#footerSection {
  background-color: #fff;
  border-top: solid 1px #f4f4f4; }

/* LOGO IMG  */
#rightlogoImg img {
  width: 200px;
  height: auto; }

/* TOPBAR STYLE */
#topBarSection {
  /*  background-color: #f4f4f4; */
  border-bottom: solid 1px #f4f4f4; }

/* SHOPPING CART DROPDOWN STYLE */
#shoppingCart {
  border-bottom: 1px solid #ddd; }

/* LINK HOVER COLOR */
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-weight: bold;
  text-decoration: underline; }

a:hover {
  color: #000;
  text-decoration: underline; }

.btn-link {
  font-weight: normal;
  color: #333;
  border-radius: 0; }

.btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
  background-color: transparent; }

.btn-link, .btn-link:focus, .btn-link:active {
  border-color: transparent;
  box-shadow: none; }

.btn-link:hover {
  border-color: transparent; }

.btn-link:focus, .btn-link:hover {
  color: #000;
  text-decoration: underline;
  background-color: transparent; }

.btn-link:disabled {
  color: #868e96; }

.btn-link:disabled:focus, .btn-link:disabled:hover {
  text-decoration: none; }
